---
import Layout from '../layouts/Layout.astro';
import { faInfinity } from "@fortawesome/free-solid-svg-icons"
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome"
---

<Layout title="Welcome to Astro.">
	<div class="flex grow justify-center items-center">
		<div class="flex h-20 text-black">
				<FontAwesomeIcon icon={faInfinity} />
		</div>
	</div>
</Layout>

<style>
	
</style>
