---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<div class="flex grow justify-center items-center">

		<a href ="/zero"><h1 class="text-gray-500 m-16 text-9xl">0</h1></a>
		<a href ="/one"><h1 class="text-gray-500 m-16 text-9xl">1</h1></a>
	</div>
</Layout>


<style>
	
</style>
