---
import Layout from '../layouts/Layout.astro';
import HomepageIcons from '../components/HomepageIcons.jsx';
---

<Layout title="Welcome to Astro.">
	<div class = "flex flex-column h-full justify-center content-center">
		<HomepageIcons client:load/>
	</div>
</Layout>

<style>
</style>
