---
import Layout from '../layouts/Layout.astro';
import HomepageIcons from '../components/HomepageIcons.jsx';
---

<Layout title="Welcome to Astro.">
	<div class = "flex grow">
		<HomepageIcons client:load/>
		<!-- <div class ="flex w-full">Hello</div> -->
	</div>
</Layout>

<style>
</style>
