---
import Layout from '../layouts/Layout.astro';
import Rainbow from "../webimages/Rainbow.jpeg";
---

<Layout title="Welcome to Astro.">
    <div class="flex grow text-center items-center">
        <div class="w-6/12 text-gray-500 text-2xl">
            <a href = "/text"><strong>Text Mode</strong></a>
        </div>
        <a class="w-6/12 h-max-96"href = "/art"><img src={Rainbow} class="object-contain resize" alt="Rainbow Background" /></a>
         
    </div>

</Layout>


<style>
	
</style>