---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
<div class="flex grow justify-center items-center">
    <a href ="/community" class="bg-slate-50 cursor-pointer m-7 p-2.5 h-fit text-2xl rounded-xl border-2 border-slate-500">Community Database</a>
    <a href ="/everything" class="bg-slate-50 cursor-pointer m-7 p-2.5 h-fit text-2xl rounded-xl border-2  border-slate-500">Everything Database</a>
</div>
</Layout>


<style>
	
</style>